body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.topnav {
    background-image: url(https://wallpaperaccess.com/full/1755861.jpg);
    overflow: hidden;
    padding-top: 0;
}

.topnav a {
    float: right;
    color: #f9d6d4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: #14414a;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

img {
    display: block;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    position: absolute;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: #14414a;
    text-align: center;
    bottom: 0;
}

.footer a {
    float: left;
    color: #f9d6d4;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #eeaeca;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: #14414a;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 1
    grid-row: 2;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
  }  