body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}
.topnav {
    background-image: url(https://wallpaperaccess.com/full/1755861.jpg);
    overflow: hidden;
    padding-top: 0;
}

.topnav a {
    float: right;
    color: #f9d6d4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: #14414a;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.menu a:hover {
    background-color: #eeaeca;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: #14414a;
}

img {
    display: block;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.footer a {
    float: left;
    color: #f9d6d4;
    padding: 14px 16px;
    text-decoration: none;
}

.footer {
    position: absolute;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: #14414a;
    /* bottom: 0; */
}

.grid-container {
    display: block;
    grid-template-columns: auto auto auto auto;
    grid-gap: px;
    background-color: #eeaeca;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}



